<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment ="html_head">
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/d3js/5.15.1/d3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link th:href="@{/cssAndJs/Css1.css}" rel="stylesheet" />
<title>Insert title here</title>
</head>
<body>
<div th:fragments="menu">

</div>


</body>
</html>